@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Dana';
    src: url(/public/fonts/Dana/woff2/Dana-Regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Dana Medium';
    src: url(/public/fonts/Dana/woff2/Dana-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Dana DemiBold';
    src: url(/public/fonts/Dana/woff2/Dana-DemiBold.woff2) format('woff2');
}

@font-face {
    font-family: 'Morabba Light';
    src: url(/public/fonts/Morabba/woff2/Morabba-Light.woff2) format('woff2');
}

@font-face {
    font-family: 'Morabba Medium';
    src: url(/public/fonts/Morabba/woff2/Morabba-Medium.woff2) format('woff2');
}

@font-face {
    font-family: 'Morabba Bold';
    src: url(/public/fonts/Morabba/woff2/Morabba-Bold.woff2) format('woff2');
}
